:root {
  --backColor: #121212;
  --fontWhite: #fff;
  --fontBlack: #090909;
  --primaryColor: #2474cd;
  --dangerColor: #EDD400;
  --closeColor: #CC0000;
  --liOdd: #999;
  --liEven: #ddd;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  background: var(--backColor);
  background: url('../assets/img/msager_breathtaking_place.jpg');
  background-size: cover;
  color: var(--fontWhite);
}

.container {
  margin-top: 150px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  color: var(--fontBlack);
  padding: 1em;
  height: max-content;
  border-radius: 6px;
  font-family: montserrat;
  width: 320px;
}

.kotak h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  position: relative;
  margin-bottom: 10px;
}

/* reset and basic set btn and input */
.form #keyword,
.form .btn,
.list .clear,
.list ul li label {
  cursor: pointer;
  user-select: none;
}

.form #keyword {
  border: 2px solid transparent;
  padding: 6px;
  box-sizing: border-box;
  width: 100%;
}

.form #keyword:focus {
  border: 2px solid var(--primaryColor);
}

.form .btn {
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--primaryColor);
  color: var(--fontWhite);
  font-weight: bolder;
  padding: 4px;
}

.form .btn:hover {
  box-shadow: inset 2px 2px 5px rgba(30, 30, 30, 0.3);
}

.list ul {
  list-style: none;
  margin-bottom: 50px;
}

.list ul li {
  padding: 6px;
  position: relative;
  border-bottom: 2px solid var(--primaryColor);
}

.list ul li .check {
  margin-right: 4px;
}

/* .list ul li:nth-child(odd) {
  background: var(--liEven);
}
.list ul li:nth-child(even) {
  background: var(--liOdd);
} */

.list ul li span.close {
  background: var(--closeColor);
  color: var(--fontWhite);
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  cursor: pointer;
}

.list ul li span.close:hover {
  color: var(--fontBlack);
}

.list .clear {
  border: none;
  border-radius: 6px;
  background: var(--dangerColor);
  padding: 0.5em 1em;
  font-weight: bolder;
  transition: 0.5s ease-in;
}

.list .clear:hover {
  background: var(--fontWhite);
  color: var(--dangerColor);
}

.remove {
  text-decoration: line-through red;
  color: red;
}